<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.system.mapper.PlatformSystemMapper">

    <resultMap type="PlatformSystem" id="PlatformSystemResult">
        <result property="systemId"    column="system_id"    />
        <result property="systemCode"    column="system_code"    />
        <result property="systemName"    column="system_name"    />
        <result property="icon"    column="icon"    />
        <result property="title"    column="title"    />
        <result property="tag"    column="tag"    />
        <result property="tagColor"    column="tag_color"    />
        <result property="url"    column="url"    />
        <result property="hrefTarget"    column="href_target"    />
        <result property="enableFlag"    column="enable_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="getPlatformSystemVo">
        select system_id, system_code, system_name, icon, title, tag, tag_color, url, href_target, enable_flag, remark, create_by, create_time, update_by, update_time from platform_system
    </sql>

    <select id="getPlatformSystemList" parameterType="PlatformSystem" resultMap="PlatformSystemResult">
        <include refid="getPlatformSystemVo"/>
        <where>
            <if test="systemCode != null  and systemCode != ''"> and system_code = #{systemCode}</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="tag != null  and tag != ''"> and tag = #{tag}</if>
            <if test="tagColor != null  and tagColor != ''"> and tag_color = #{tagColor}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="hrefTarget != null  and hrefTarget != ''"> and href_target = #{hrefTarget}</if>
            <if test="enableFlag != null "> and enable_flag = #{enableFlag}</if>
        </where>
    </select>

    <select id="getPlatformSystemListBySystemIds" resultMap="PlatformSystemResult">
        <include refid="getPlatformSystemVo"/>
        where system_id in
        <foreach item="systemId" collection="list" open="(" separator="," close=")">
            #{systemId}
        </foreach>
    </select>

    <select id="getPlatformSystemBySystemId" parameterType="Long" resultMap="PlatformSystemResult">
        <include refid="getPlatformSystemVo"/>
        where system_id = #{systemId}
    </select>

    <insert id="insertPlatformSystem" parameterType="PlatformSystem" useGeneratedKeys="true" keyProperty="systemId">
        insert into platform_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemCode != null and systemCode != ''">system_code,</if>
            <if test="systemName != null and systemName != ''">system_name,</if>
            <if test="icon != null">icon,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="tag != null">tag,</if>
            <if test="tagColor != null">tag_color,</if>
            <if test="url != null">url,</if>
            <if test="hrefTarget != null">href_target,</if>
            <if test="enableFlag != null">enable_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemCode != null and systemCode != ''">#{systemCode},</if>
            <if test="systemName != null and systemName != ''">#{systemName},</if>
            <if test="icon != null">#{icon},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="tag != null">#{tag},</if>
            <if test="tagColor != null">#{tagColor},</if>
            <if test="url != null">#{url},</if>
            <if test="hrefTarget != null">#{hrefTarget},</if>
            <if test="enableFlag != null">#{enableFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePlatformSystem" parameterType="PlatformSystem">
        update platform_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemCode != null and systemCode != ''">system_code = #{systemCode},</if>
            <if test="systemName != null and systemName != ''">system_name = #{systemName},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="tag != null">tag = #{tag},</if>
            <if test="tagColor != null">tag_color = #{tagColor},</if>
            <if test="url != null">url = #{url},</if>
            <if test="hrefTarget != null">href_target = #{hrefTarget},</if>
            <if test="enableFlag != null">enable_flag = #{enableFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where system_id = #{systemId}
    </update>

    <delete id="deletePlatformSystemBySystemId" parameterType="Long">
        delete from platform_system where system_id = #{systemId}
    </delete>

    <delete id="deletePlatformSystemBySystemIds" parameterType="String">
        delete from platform_system where system_id in
        <foreach item="systemId" collection="array" open="(" separator="," close=")">
            #{systemId}
        </foreach>
    </delete>
</mapper>