# 项目相关配置
cf:
  # 名称
  name: CuiFeng
  # 版本
  version: 1.0.0
  # 版权年份
  copyrightYear: 2021
  # 实例演示开关
  demoEnabled: true
  # 文件路径 示例（ Windows配置D:/cf/uploadPath，Linux配置 /home/cf/uploadPath）
  profile: C:/cf/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数组计算 char 字符验证
  captchaType: math

# 连接websocket，广播消息
webSocketUri: ${WEBSOCKET_URL:ws://10.8.0.13:12345/ws?channel=master&lang=en_US}

# i18n数据国际化
i18n:
  data:
    init:
      enable: false

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 18081
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # tomcat最大线程数，默认为200
    max-threads: 800
    # Tomcat启动初始化的线程数，默认值25
    min-spare-threads: 30

# 日志配置
logging:
  level:
    com.cf: debug
    org.springframework: warn

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
    encoding: UTF-8
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size:  1024MB
      # 设置总上传的文件大小
      max-request-size:  1024MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # redis 配置
  redis:
    # 地址
    host: ${REDIS_HOST:10.8.0.13}
    # 端口，默认为6379
    port: ${REDIS_PORT:6379}
    # 密码
    password: ${REDIS_PASSWORD:}
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms

  #rabbitmq配置信息
  rabbitmq:
    host: ${RABBITMQ_HOST:10.8.0.13}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:admin}
    password: ${RABBITMQ_PASSWORD:admin123}
    #virtual-host默认/可以不写
    virtual-host: ${RABBITMQ_VIRTUAL_HOST:/}
    #消息发送确认
    publisher-confirms: true
    #通过实现ReturnCallback接口，如果消息从交换器发送到对应队列失败时触发（比如根据发送消息时指定的routingKey找不到队列时会触发）
    publisher-returns: true
    listener:
      # 消息接收确认模式
      #默认是simple
      simple:
        acknowledge-mode: MANUAL
      direct:
        acknowledge-mode: MANUAL


# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret:
  # 令牌有效期（默认30分钟）
  expireTime: 30



# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping:

keycloak:
  realm: ${KEYCLOAK_REALM:CF}
  auth-server-url: ${KEYCLOAK_AUTH_SERVER_URL:https://10.8.0.2:8443}
  ## 校验token
  resource: ${KEYCLOAK_RESOURCE:plastic-mes-verify-token}
  ssl-required: ${KEYCLOAK_SSL_REQUIRED:NONE}
mykeycloak:
  root-user: admin
  root-password: admin

tokenRequire:
  resource: ${KEYCLOAK_TOKEN_REQUIRE_RESOURCE:plastic-mes-generate-token}
  secret: ${KEYCLOAK_TOKEN_REQUIRE_SECRET:CfELat5F6FBWofKCVCVuRKWhmrbj6DnB}

minio:
  endpoint: ${MINIO_ENDPOINT:http://10.8.0.13:9000}
  accessKey: ${MINIO_ACCESSKEY:minio}
  secretKey: ${MINIO_SECRETKEY:minio123}

jetcache:
  statIntervalMinutes: 15
  areaInCacheName: false
  local:
    default:
      type: caffeine
      limit: 512
      keyConvertor: fastjson
  remote:
    default:
      type: redis
      keyConvertor: fastjson
      broadcastChannel: mes-api
      valueEncoder: java
      valueDecoder: java
      poolConfig:
        minIdle: 5
        maxIdle: 20
        maxTotal: 50
      host: ${spring.redis.host}
      port: ${spring.redis.port}

## xxl-job 调度任务配置
xxl:
  job:
    ### 执行器通讯TOKEN [选填]：非空时启用；
    accessToken: 8CD7DBB9C1B5DF001A76C73C5AAD042B94BA80A467752160D8FC7478625043813074AF12460E3CE4E770E7027CA5F9E9E2699E80155EC7DFCAB066E65C357247
    admin:
      ### 调度中心部署根地址 [选填]：如调度中心集群部署存在多个地址则用逗号分隔。执行器将会使用该地址进行"执行器心跳注册"和"任务结果回调"；为空则关闭自动注册；
      addresses: ${XXL_JOB_ADMIN_ADDRESSES:http://10.8.0.13:8092/xxl-job-admin}
    executor:
      ### 执行器注册 [选填]：优先使用该配置作为注册地址，为空时使用内嵌服务 ”IP:PORT“ 作为注册地址。从而更灵活的支持容器类型执行器动态IP和动态映射端口问题。
      address: ${XXL_JOB_EXECUTOR_ADDRESS:}
      ### 执行器AppName [选填]：执行器心跳注册分组依据；为空则关闭自动注册
      appname: cf-mes
      ### 执行器IP [选填]：默认为空表示自动获取IP，多网卡时可手动设置指定IP，该IP不会绑定Host仅作为通讯实用；地址信息用于 "执行器注册" 和 "调度中心请求并触发任务"；
      ip: ${XXL_JOB_EXECUTOR_IP:}
      ### 执行器运行日志文件存储磁盘路径 [选填] ：需要对该路径拥有读写权限；为空则使用默认路径；
      logpath: /data/applogs/xxl-job/jobhandler
      ### 执行器日志文件保存天数 [选填] ： 过期日志自动清理, 限制值大于等于3时生效; 否则, 如-1, 关闭自动清理功能；
      logretentiondays: 3
      ### 执行器端口号 [选填]：小于等于0则自动获取；默认端口为9999，单机部署多个执行器时，注意要配置不同执行器端口；
      port: ${XXL_JOB_EXECUTOR_PORT:9999}

cf-monitor:
  mqtt:
    #这里要写 tcp://  不能是 mqtt,不然不是合法的 schema，源码中有
    url: ${CF_MONITOR_MQTT_URL:tcp://10.8.0.13:1883}
    clientId: ${CF_MONITOR_MQTT_CLIENTID:cf-plastic-mes-machine-mqtt-monitor}
    # Web Publish msg to iot device, iot device need to subscribe this topic
    receiveTopics: ${CF_MONITOR_MQTT_RECEIVE_TOPICS:gateway/device/#}
    username: ${CF_MONITOR_MQTT_USERNAME:}
    password: ${CF_MONITOR_MQTT_PASSWORD:}
    timeout: ${CF_MONITOR_MQTT_TIMEOUT:10}
    keepalive: ${CF_MONITOR_MQTT_KEEPALIVE:20}