defaultTimeZone: ${USER_TIMEZONE:GMT+8}

spring:
  profiles: 
    active: uatdruid,uat

  
# MyBatis配置
mybatis:
    # 搜索指定包别名
    typeAliasesPackage: com.cf.**.domain
    # 配置mapper的扫描，找到所有的mapper.xml映射文件
    mapperLocations: classpath*:mapper/**/*Mapper.xml
    # 加载全局的配置文件
    configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper: 
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql 

# 防止XSS攻击
xss: 
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /mes/androidClientVersionControl,/mes/windowsClientVersionControl
  # 匹配链接
  urlPatterns: /system/*,/mes/*

